html,
body {
    height: 100%;
    padding: 0;
    margin: 0;

}

.App {
  /* text-align: left; */
  /* color: black; */
  background-color: black;
  background-size: 100% 100%;
  height: 60vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gl {
  height: 100%;
  background-color:gray;

}

.qc {
  display: flex;
  height: 100%;
  background-color: #282c34;
  justify-content: space-around;
}

.qu1 {
  text-align: center;
  color:antiquewhite;
  margin: auto;
  height: 100%;
  background-color: #282c34;
  overflow: hidden;
  vertical-align: middle;
  /* justify-content: space-around; */
  }
  
.qu2 {
  text-align: center;
  color:antiquewhite;
  margin: auto;
  height: 100%;
  overflow: hidden;
  background-color: #282c34;
  vertical-align: middle;
  /* justify-content: space-around; */
}
a {
  vertical-align: middle;
}
.des {
  margin-top: 20px;
}
img.img2 {
  margin-top: 20px;
  width:500px;
  height:400px;
}
img.img1 {
  margin-top: 20px;
  width:600px;
  height:400px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  width:13%;
  height:10%;
  /* transform:translate(-50%,-50%);  */
  animation:neon-shine 2s linear infinite;
  background-color: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4;
}